<div class='four wide column'>
  <%=render "layouts/sidenav"%>
  <%=render "layouts/signin"%>
  <%=render "layouts/search_small"%>
</div>
<div class='twelve wide column'>
  <div class='ui raised card'>
    <div class='content'>
      <h1>test</h1>
    </div>
  </div>
</div>
