
  <div class='ui raised card'>
    <div class='content'>
     <span class='nowrap'><input type='text' class='ui input' style='height:auto;width:80%;margin-bottom:4%'></input><i class="search icon"></i></span>
    </div>
  </div>
  