  <div class='ui raised card'>
    <div class='content'>
      <div class='header'><a href="/"><%= image_tag("semplificatologo.png", style: 'height:auto;width:80%;margin-bottom:4%') %></a></div>
                <div class='ui horizontal divider'></div>
        <%=link_to "Your Snippets", "/snippets/main"%>
        <br>
        <div class='ui horizontal divider'></div>
        <%=link_to "Explore Snippets", "/snippets"%>
        <br>
        <div class='ui horizontal divider'></div>
               <em><%=link_to "Add a snippet", "/snippets/new"%></em>
        <br>
        <div class='ui horizontal divider'></div>
    </div>
